* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

nav {
  border: 2px solid rgb(165, 155, 155);
  width: 100%;
  user-select: none;
}

img {
  border-radius: 10px;
}

.container .clearfix>button {
  margin-bottom: 15px;
}

.container {
  width: 90%;
  margin: auto;
  min-height: 100vh;
  gap: 20px;
  margin: 20px;

}

.Indisponivel {
  color: white;
  background-color: black;
  position: relative;
  border-radius: 6px;
  display: none;
  padding: 10px 8px;

}

.but:hover .Indisponivel {
  display: inline;

}

.but {
  width: 300px;
}

.grid-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

}

.container .clearfix>img {

  height: 230px;
  width: 460px;
  margin-top: 12px;
}

.foradatela {
  width: 600px;

}

section {
  left: 0;
  bottom: 12px;
  width: 100%;
  background: #172940;
  padding-top: 60px;
}

footer {
  user-select: none;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 0 30px;
  color: #a2b5cd;

}

footer>img {
  height: 92px;
  margin-left: 20px;
  margin-bottom: 30px;
}

footer .top {
  border-bottom: 2px solid #3a4f6a;
  padding-bottom: 20px;
}

footer .top .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}



footer .links>div {
  display: grid;
  gap: 20px;
  margin-bottom: 30px;
}

footer h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #f7f7f7
}

footer .legal {
  font-size: 12px;
}

footer .legal>a {
  margin: 0 4px;
}

footer .legal>span {
  margin-right: 10px;
  font-size: 14px;
}


@media (wiidht < 620px) {

  footer {
    flex-direction: column;

  }

  footer .bottom {
    gap: 16px;
    flex-direction: column-reverse;

  }
}

@media (widht >=620px) {
  footer {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
  }
}

@media (widht < 420px) {
  footer {
    text-align: center;
    align-items: center;
  }

  footer .top .links {
    grid-template-columns: 1fr;
  }

  footer .legal>span {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }
}

@media (width < 720) {
  main {
    width: 100%;
    height: 100%;
  }

}

@media (width<480px) {
  img.col-md-6.float-md-end.mb-3.ms-md-3 {
    height: 180px;
    width: 320px;

  }
}

@media (width<330px) {
  main {
    width: 330px;
  }
}

@media (width < 420px) {

  footer>img {
    margin-left: 0;
  }

  footer>img {
    margin-left: 0;
    height: 70px;
    width: 70px;
  }
}