*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Times New Roman', Times, serif ;
}

nav{
    border:2px solid rgb(165, 155, 155);
    width: 100%;  
    user-select: none; 
}

main{
  width: 100%;
  height: 100%;
  
}

img{  
  border-radius: 10px;
}

.promocoes{
  margin: 20px;
  user-select: none;
 
}

.promocoes .title{
  justify-content: center;
  align-items: center;
  display: flex;
}

.promocoes .title > h4{
   text-align: center;
  background-color: black;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  width: 500px;
}

.col{
  padding-top: 20px;
 
}


.card-text{
  font-size: 12px;
    letter-spacing: 1px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;

}

.ida{
  display: inline-flex;
  align-items: center;
  max-width: 210px;
  height: 24px;
  padding: 0 8px;
  border-radius: 4px;
  overflow: hidden; 
  background-color:#b9b9b9;
  color: #fff;
  
 
}

.preco{
  display: grid;
    position: relative;
    grid-template-columns: 80% 20%;
    padding: 10px 0 8px 5px;
    border-top: 1px solid;
   font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    grid-column-end: span 2;
    margin-right: 20px;
    margin-top: 8px!important;
  }

.p{
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  grid-column-end: span 2;
}

.v{
  font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-weight: 400;
    display: flex;
    gap: 8px;  
}


.r{
  font-size: 14px;
letter-spacing: .05px;
line-height: 20px;
}

.val{
  font-size: 18px;
  line-height: normal;
line-height: initial;
}

section {
  left: 0;
  bottom: 12px;
  width: 100%;
  background: #172940;
  padding-top: 60px;
}

footer {
  user-select: none;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 0 30px;
  color: #a2b5cd;

}

footer>img {
  height: 92px;
  margin-left: 20px;
  margin-bottom: 30px;
}

footer .top {
  border-bottom: 2px solid #3a4f6a;
  padding-bottom: 20px;
}

footer .top .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}



footer .links>div {
  display: grid;
  gap: 20px;
  margin-bottom: 30px;
}

footer h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #f7f7f7
}

footer .legal {
  font-size: 12px;
}

footer .legal>a {
  margin: 0 4px;
}

footer .legal>span {
  margin-right: 10px;
}




@media (wiidht < 620px){
  footer{
      flex-direction: column;
  }
  footer .bottom{
      gap: 16px;
      flex-direction: column-reverse;
  }
}

@media (widht >= 620px){
  footer{
      margin: 0 auto;
      max-width: 600px;
      padding: 0;
  }
}

footer .bottom .links > a{
  font-size: 24px;
}

@media (widht < 420px) {
  footer{
      text-align: center;
      align-items: center;
  }
  footer .top .links{
       grid-template-columns: 1fr;
  }
  footer .bottom{
      align-items: center;
  }
  footer .legal > span{
      display: block;
      margin-right: 0;
      margin-bottom: 2px;
  }
}



@media (width < 420px) {
  
  footer > img{
      margin-left: 0;
  }
  footer > img{
    margin-left: 0;
    height: 70px;
    width: 70px;
}
}